Package: pastaignore
Version: 1.0
Architecture: amd64
Maintainer: saltq <support@creationship27>
Priority: optional
Section: devel
Description: a tool to make gitignores easier
 it also supports file formats that are a list of files!
